services:
  postgres:
    image: postgres:16-alpine
    container_name: poc-airfrance-db
    environment:
      POSTGRES_DB: poc_airfrance
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5432:5432"
    volumes:
      - ./init.sql:/docker-entrypoint-initdb.d/01-init.sql:ro
    restart: unless-stopped
